<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472845643274-pkk5cdp3bh9ahgv40nf1o5fcapmslft7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472845643274-pkk5cdp3bh9ahgv40nf1o5fcapmslft7</string>
	<key>API_KEY</key>
	<string>AIzaSyD-peCqcAVhjEg_7irl7cddHzh-DiOFKYc</string>
	<key>GCM_SENDER_ID</key>
	<string>472845643274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anpleenko-dev.notes</string>
	<key>PROJECT_ID</key>
	<string>notes-7e0d1</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-7e0d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472845643274:ios:fc1e50e72b78025485f9f3</string>
	<key>DATABASE_URL</key>
	<string>https://notes-7e0d1.firebaseio.com</string>
</dict>
</plist>